* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEF9BF;
    position: relative; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin: 40px auto 47px;
}

.cronometro {
    width: 80px;
    height: 43px;
    border: 1px solid #75B79E;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2px;
    right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #75B79E;
}

.cards {
    width: 872px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    background: #A7E9AF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card img{
    width: 100px;
    height: 100px;
}

.verso {
    transform: rotateY(180deg);
}

.selecionado .verso {
    transform: rotateY(0deg);
    cursor: default;
}

.selecionado .frente {
    transform: rotateY(-180deg);
}

.acertou .verso {
    transform: rotateY(0deg);
    cursor: default;
}

.acertou .frente {
    transform: rotateY(-180deg);
}

.oculto {
    display: none;
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .cards {
        width: 117px;
        margin-bottom: 34px;
        flex-direction: column;
        justify-content: space-between;
        align-items: initial;
        flex-wrap: nowrap;
    }
}